@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.Preview {
  font-family: 'Russo one', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.text-preview {
  border-radius: 2px;
  border: 1px solid black;
  width: 750px;
  height: 400px;
  text-align: left;
  background-color: rgb(162, 221, 201);
  overflow-y: scroll;
  word-wrap: break-word;
  box-shadow: 1px 1px 10px 2px #3a5f5f;

}

.text-preview div {
  margin: 25px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.text-preview img {
  min-width: 15%;
  max-width: 50%;
  object-fit: contain;
}

.toolbar-preview {
  border-radius: 2px;
  border: 1px solid black;
  width: 745px;
  height: 25px;
  margin-top: 40px;
  margin-bottom: -1px;
  text-align: left;
  font-size: 1.1rem;
  padding-left: 5px;
  padding-top: 5px;
  background-color: rgb(72, 149, 123);
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}